body {
    overflow: hidden;
    background: linear-gradient(white, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#start {
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}

#options {
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
}