* {
    font-family: 'Nova Square', cursive;
    font-size: 24px;
}

body {
    overflow: hidden;
    background: linear-gradient(135deg, #000000, #aaaaaa, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400% 400%;
    -webkit-animation: background-animation 15s ease infinite;
    -moz-animation: background-animation 15s ease infinite;
    animation: background-animation 15s ease infinite;
}

span {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#game-menu {
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#game-menu #top-menu {
    position: initial;
    margin-top: 60px;
}

#game-menu #top-menu #start {
    display: inline-block;
}

#game-menu #top-menu #panel-choosetext {
    display: inline-block;
    padding: 20px;
    position: absolute;
    right: 0;
}

#game-menu #top-menu #panel-choosetext button {
    width: 260px;
    height: 60px;
}

#game-menu #panel-options {
    margin-top: 60px;
}

#game-menu #panel-options #difficulty button {
    display: inline-block;
    width: calc(33% - 15px);
    margin: 5px;
    box-sizing: border-box;
}

#game-menu #panel-options #game-settings {
    margin: 10px;
}

#game-menu #panel-options #game-settings span {
    color: white;
}

.slider {
    width: 80%;
    margin: 30px 15px;
    color: white;
    display: inline-block;
    border-bottom: 1px solid white;
}

.slider .pointer {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 100%;
    background-color: white;
    position: relative;
    transform: translateX(-50%);
    left: 0%;
    top: 17px;
}

.panel {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

#easy {
    background-color: lime;
}

#medium {
    background-color: yellow;
}

#hard {
    background-color: red;
}

.floating-key {
    position: absolute;
    background-image: url(../images/key.png);
}

#key-container {
    position: absolute;
    filter: blur(5px);
}

@-webkit-keyframes background-animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes background-animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes background-animation { 
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}