* {
    font-family: 'Nova Square', cursive;
    font-size: 24px;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

body {
    overflow: hidden;
    background: linear-gradient(135deg, #000000, #aaaaaa, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400% 400%;
    -webkit-animation: background-animation 15s ease infinite;
    -moz-animation: background-animation 15s ease infinite;
    animation: background-animation 15s ease infinite;
}

span {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#game-menu {
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#game-menu #top-menu {
    position: initial;
    margin-top: 60px;
}

#game-menu #top-menu #start {
    display: inline-block;
}

#game-menu #top-menu #panel-choosetext {
    display: inline-block;
    padding: 20px;
    position: absolute;
    right: 0;
}

#game-menu #top-menu #panel-choosetext button {
    width: 260px;
    height: 60px;
}

#game-menu #panel-options {
    margin-top: 60px;
}

#game-menu #panel-options #difficulty .radio-container {
    display: inline-block;
    width: calc(25% - 20px);
    margin: 5px;
    box-sizing: border-box;
}

#game-menu #panel-options #difficulty .radio-container input {
    margin: 0px;
    width: 100%;
}

#game-menu #panel-options #game-settings {
    margin: 10px;
}

#game-menu #panel-options #game-settings span {
    color: white;
}

#easy {
    background-color: lime;
}

#medium {
    background-color: yellow;
}

#hard {
    background-color: red;
}

#custom {
    background-color: gray;
}

.disabled {
    display: none;
}

.floating-key {
    position: absolute;
    background-image: url(../images/key.png);
}

#key-container {
    position: absolute;
    filter: blur(5px);
}

@-webkit-keyframes background-animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes background-animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes background-animation { 
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}