/* line 0 */

.key-1 {
    left: 330px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-2 {
    left: 400px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-3 {
    left: 470px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-4 {
    left: 540px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-5 {
    left: 610px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-6 {
    left: 680px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-7 {
    left: 750px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-8 {
    left: 820px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-9 {
    left: 890px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-0 {
    left: 960px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

.key-minus {
    left: 1030px;
    -webkit-animation-name: key-line-0;
            animation-name: key-line-0;
}

/* line 1 */

.key-q {
    left: 350px; 
    -webkit-animation-name: key-line-1; 
            animation-name: key-line-1;
}

.key-w {
    left: 420px; 
    -webkit-animation-name: key-line-1; 
            animation-name: key-line-1;
}

.key-e {
    left: 490px; 
    -webkit-animation-name: key-line-1; 
            animation-name: key-line-1;
}

.key-r {
    left: 560px;
    -webkit-animation-name: key-line-1;
            animation-name: key-line-1;
}

.key-t {
    left: 630px;
    -webkit-animation-name: key-line-1;
            animation-name: key-line-1;
}

.key-y {
    left: 700px; 
    -webkit-animation-name: key-line-1; 
            animation-name: key-line-1;
}

.key-u {
    left: 770px;
    -webkit-animation-name: key-line-1;
            animation-name: key-line-1;
}

.key-i {
    left: 840px;
    -webkit-animation-name: key-line-1;
            animation-name: key-line-1;
}

.key-o {
    left: 910px;
    -webkit-animation-name: key-line-1;
            animation-name: key-line-1;
}

.key-p {
    left: 980px;
    -webkit-animation-name: key-line-1;
            animation-name: key-line-1;
}

/* line 2 */

.key-a {
    left: 370px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

.key-s {
    left: 440px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

.key-d {
    left: 510px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

.key-f {
    left: 580px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

.key-g {
    left: 650px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

.key-h {
    left: 720px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

.key-j {
    left: 790px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

.key-k {
    left: 860px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

.key-l {
    left: 930px;
    -webkit-animation-name: key-line-2;
            animation-name: key-line-2;
}

/* line 3 */

.key-z {
    left: 390px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

.key-x {
    left: 460px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

.key-c {
    left: 530px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

.key-v {
    left: 600px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

.key-b {
    left: 670px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

.key-n {
    left: 740px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

.key-m {
    left: 810px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

.key-comma {
    left: 880px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

.key-period {
    left: 950px;
    -webkit-animation-name: key-line-3;
            animation-name: key-line-3;
}

/* line 4 */

.key-space {
    width: 310px;
    left: 540px;
    -webkit-animation-name: key-space;
            animation-name: key-space;
}