body {
    background: linear-gradient(135deg, #222222, #aaaaaa, #222222);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

#indicator-div {
    position: relative;
    display: inline-block;
    width: 100%;
}

.hit-indicator {
    position: absolute;
    font-family: 'Nova Square', cursive;
    font-size: 48px;
    width: 100%;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#correct-hits {
    color: lime;
}

#wrong-hits {
    color: red;
    text-align: right;
}

#gameboard-background {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 50%;
    width: 1440px;
    transform: translateX(-50%);
}

#gameboard {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    width: 100%;
    transform-style: preserve-3d;
    transform: perspective(1200px) rotateX(45deg);
}

.key-container {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 70px;
    height: 70px;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.space-container {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 310px;
    height: 70px;
    animation-timing-function: linear;
}

.key {
    background-image: url(../images/key.png);
    position: absolute;
    top: 0px;
    width: 70px;
    height: 70px;
    animation-timing-function: linear;
    font-family: 'Ubuntu', sans-serif;
}

.keyclass-space {
    background-image: url(../images/space.png);
    position: absolute;
    top: 0px;
    width: 310px;
    height: 70px;
    animation-timing-function: linear;
}

.key * {
    display: block;
    color: black;
    position: absolute;
    font-size: 24px;
    font-family: 'Nova Square', cursive;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.keyboardkey {
    background-image: url(../images/key.png);
    background-size: 70px;
    position: absolute;
    width: 70px;
    height: 70px;
    animation-timing-function: linear;
}

.keyboardkey * {
    display: block;
    color: black;
    position: absolute;
    font-size: 24px;
    font-family: 'Nova Square', cursive;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#text-div {
    position: absolute;
    left: 50%;
    width: 700px;
    height: 100px;
    padding: 5px;
    transform: translateX(-50%);
    overflow: hidden;
    font-size: 48px;
    color: lime;
    border: 2px white solid;
    border-radius: 5px;
    background-color: black;
}

#text-div::first-letter {
    font-size: 64px;
    color: black;
    background-color: white;
}