#stat-panel {
    position: absolute;
    left: 50%;
    top: 100px;
    width: 900px;
    height: 700px;
    transform: translate(-50%);
}

#stat-panel * {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Nova Square', cursive;
}

#endtext {
    top: 100px;
    font-size: 72px;
    color: white;
}

#percentage {
    font-size: 48px;
    top: 300px;
    color: white;
}

#exitbutton {
    top: 500px;
    font-size: 24px;
}