.slider {
    width: 80%;
    margin: 30px 15px;
    color: white;
    display: inline-block;
    border-bottom: 1px solid white;
}

.slider .pointer {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: royalblue;
    position: relative;
    transform: translateX(-50%);
    left: 0%;
    top: 17px;
}

.panel {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    width: 300px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
}

button:hover {
    background-color: black !important;
    color: white;
}