@keyframes key-line-0 {
    to {
        top: calc(100% - 350px);
    }
}

@keyframes key-line-1 {
    to {
        top: calc(100% - 280px);
    }
}

@keyframes key-line-2 {
    to {
        top: calc(100% - 210px);
    }
}

@keyframes key-line-3 {
    to {
        top: calc(100% - 140px);
    }
}

@keyframes currentkey-outline {
    from {
        border-color: yellow;
        border-style: solid;
        border-width: 5px;
    }
    to {
        border-color: white;
    }
}
@keyframes correct-key {
    to {
        transform: scale(1.5, 1.5);
        opacity: 0.0;
    }
}
@keyframes missed-key {
    to {
        transform: scale(1.5, 1.5); 
        opacity: 0.0;
    }
}