#key-space {
    width: 310px;
    left: 540px;
    animation: key-space 4s forwards;
}

/* line 0 */

#key-1 {
    left: 330px;
    animation: key-line-0 4s forwards;
}

#key-2 {
    left: 400px;
    animation: key-line-0 4s forwards;
}

#key-3 {
    left: 470px;
    animation: key-line-0 4s forwards;
}

#key-4 {
    left: 540px;
    animation: key-line-0 4s forwards;
}

#key-5 {
    left: 610px;
    animation: key-line-0 4s forwards;
}

#key-6 {
    left: 680px;
    animation: key-line-0 4s forwards;
}

#key-7 {
    left: 750px;
    animation: key-line-0 4s forwards;
}

#key-8 {
    left: 820px;
    animation: key-line-0 4s forwards;
}

#key-9 {
    left: 890px;
    animation: key-line-0 4s forwards;
}

#key-0 {
    left: 960px;
    animation: key-line-0 4s forwards;
}

/* line 1 */

#key-q {
    left: 350px; 
    animation: key-line-1 4s forwards;
}

#key-w {
    left: 420px; 
    animation: key-line-1 4s forwards;
}

#key-e {
    left: 490px; 
    animation: key-line-1 4s forwards;
}

#key-r {
    left: 560px;
    animation: key-line-1 4s forwards;
}

#key-t {
    left: 630px;
    animation: key-line-1 4s forwards;
}

#key-y {
    left: 700px; 
    animation: key-line-1 4s forwards;
}

#key-u {
    left: 770px;
    animation: key-line-1 4s forwards;
}

#key-i {
    left: 840px;
    animation: key-line-1 4s forwards;
}

#key-o {
    left: 910px;
    animation: key-line-1 4s forwards;
}

#key-p {
    left: 980px;
    animation: key-line-1 4s forwards;
}

/* line 2 */

#key-a {
    left: 370px;
    animation: key-line-2 4s forwards;
}

#key-s {
    left: 440px;
    animation: key-line-2 4s forwards;
}

#key-d {
    left: 510px;
    animation: key-line-2 4s forwards;
}

#key-f {
    left: 580px;
    animation: key-line-2 4s forwards;
}

#key-g {
    left: 650px;
    animation: key-line-2 4s forwards;
}

#key-h {
    left: 720px;
    animation: key-line-2 4s forwards;
}

#key-j {
    left: 790px;
    animation: key-line-2 4s forwards;
}

#key-k {
    left: 860px;
    animation: key-line-2 4s forwards;
}

#key-l {
    left: 930px;
    animation: key-line-2 4s forwards;
}

/* line 3 */

#key-z {
    left: 390px;
    animation: key-line-3 4s forwards;
}

#key-x {
    left: 460px;
    animation: key-line-3 4s forwards;
}

#key-c {
    left: 530px;
    animation: key-line-3 4s forwards;
}

#key-v {
    left: 600px;
    animation: key-line-3 4s forwards;
}

#key-b {
    left: 670px;
    animation: key-line-3 4s forwards;
}

#key-n {
    left: 740px;
    animation: key-line-3 4s forwards;
}

#key-m {
    left: 810px;
    animation: key-line-3 4s forwards;
}