#gameboard-background {
    overflow: hidden;
    background: linear-gradient(white, black);
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    width: 1440px;
    transform: translateX(-50%);
}

#gameboard {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    width: 100%;
    transform-style: preserve-3d;
    transform: perspective(1200px) rotateX(45deg);
}

.key {
    background-image: url(images/key.png);
    background-size: 70px;
    position: absolute;
    left: 50%;
    top: 0px;
    width: 70px;
    height: 70px;
}

.key * {
    display: block;
    color: black;
    position: absolute;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.keyboardkey {
    background-image: url(images/key.png);
    background-size: 70px;
    position: absolute;
    width: 70px;
    height: 70px;
}

.keyboardkey * {
    display: block;
    color: black;
    position: absolute;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}



